@{
    ViewData["Title"] = "Home Page";
}
<h1 align="center">Pet-dachi</h1>
<ul align="center">
    <li>Fullness: @ViewBag.pet.fullness</li>
    <li>Happiness: @ViewBag.pet.happiness</li>
    <li>Meals: @ViewBag.pet.meals</li>
    <li>Energy: @ViewBag.pet.energy</li>
</ul>
<br>
<div align="center">
<div align="center" id="picture">
    <img width=300px height=300px src=@ViewBag.face alt="">
    <h3>Pika Pika!</h3>
</div>
</div>
<br><br>
<div align="center">
<form action="feed">
    <input type="submit" class="ui red basic button" value="Feed!">
</form>
<form action="play">
    <input type="submit" class="ui teal basic button" value="Play!">
</form>
<form action="work">
    <input type="submit" class="ui blue basic button" value="Work!">
</form>
<form action="Sleep">
    <input type="submit" class="ui pink basic button" value="Sleep!">
</form>
</div>
<div align="center">
    @{
        if(@ViewBag.win)
        {
            <h1>Hey! You made Pikachu Happy! Wanna play again?</h1>
            <form action="reset">
                <input type="submit" class="ui yellow basic button" value="Play Again!">
            </form>
        }
    }
</div>
<div align="center">
    @{
        if(@ViewBag.lose)
        {
            <h1>Hey! You made Pikachu so unhappy that Pikachu doesn't want to see you anymore! Wanna play again?</h1>
            <form action="reset">
                <input type="submit" class="ui yellow basic button" value="Play Again!">
            </form>
        }
    }
</div>